@import "./global/colors.scss";

.side_bar {
  background-color: $white;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 16%;
  padding: 0 15px;
  overflow-y: scroll;
  max-height: 89vh;
  overflow-x: hidden;
  .section {
    h3 {
      font-weight: normal;
    }
    .icons_list {
      display: flex;
      flex-direction: column;
      .list_item {
        border: none;
        cursor: pointer;
        padding: 10px 0;
        width: 100%;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        -webkit-border-radius: 10px;
        transition: 0.3s linear;
        -webkit-transition: 0.3s linear;
        -moz-transition: 0.3s linear;
        -ms-transition: 0.3s linear;
        -o-transition: 0.3s linear;
        background-color: transparent;
        font-weight: normal;
        &:hover,
        &:focus {
          background-color: $light-grey;
          font-weight: bold;
        }
        .content {
          display: flex;
          align-items: center;
          gap: 15px;
          justify-content: flex-start;
          padding-left: 15px;
          width: 100%;
          font-size: 17px;
          color: $black;
          svg,
          div {
            width: 30px;
            height: 30px;
          }
          div {
            img {
              height: 100%;
              width: 100%;
            }
          }
          span {
            padding: 5px;
          }
        }
      }
    }
  }
  hr {
    width: 100%;
    color: $light-grey;
    height: 1px;
  }
  footer {
    .links {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      gap: 10px;
      line-height: 7px;
      font-weight: bold;
      font-size: 15px;
      padding: 10px 0 15px 15px;
      li {
        a {
          color: $very-dark-grey;
          font-size: 15px;
        }
      }
    }
    p {
      color: $dark-grey;
      font-size: 15px;
    }
  }
  @media (max-width: 768px) {
    width: 60%;
  }
}
